{% from "macros.html" import nav_link with context %}
<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block head %}
        <title>{% block title %}{% endblock %} - DevMan</title>
    {% endblock %}

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sticky-footer-navbar/">

    <!-- Bootstrap core CSS -->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet">

    <link href="/static/assets/css/devman.css" rel="stylesheet">

    <script src="/static/assets/js/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"></script>
    <script src="/static/assets/js/bootstrap.bundle.js"></script>
    <script src="/static/assets/js/jquery.tablesorter-2.31.3.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/ico/favicon.png">
</head>
<body class="d-flex flex-column h-100">
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">DevMan</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    {{ nav_link('devices', 'Devices') }}
                    {{ nav_link('scripts', 'Scripts') }}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Links</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ settings.cacti_url }}">Cacti</a>
                            <a class="dropdown-item" href="{{ settings.netbox_url }}">Netbox</a>
                            <a class="dropdown-item" href="{{ settings.zabbix_url }}">Zabbix</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    <div class="container">
        {% block heading %}
            <legend>{% block page %}{% endblock %}</legend>
        {% endblock %}
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error["message"] | default("Error message was not propagated. Please, check logs for more details.") }}
        </div>
        {% endif %}
        {% block content %}{% endblock %}
        <br>

    </div>
</main>

<footer class="footer mt-auto py-3">
    <div class="container">
    <span class="text-muted">
          &copy; weisdd, 2020{% if settings.version != '' %}, v{{ settings.version }}{% endif %}
    </span>
    </div>
</footer>
</body>
</html>
